body {
  background-color: #eee;
}

html {
  font-size: 16px;
}

.hidden {
  display: none;
}

.primary-color {
  background-color: #3D205A;
}

.primary-color-text {
  color: #3D205A;
}

.primary-text {
  color: rgba(0, 0, 0, 0.87);
}

nav form {
  width: 50vw;
  position: absolute;
  top: 0;
  margin: 0 auto;
  left: 25vw;
}

nav .brand-logo {
  padding-left: 3rem;
  position: inherit;
  font-size: 1.5rem;
}

#sidenav-overlay {
  z-index: 1;
}

@media only screen and (min-width: 601px) {
  nav,
  nav .nav-wrapper i,
  nav a.button-collapse,
  nav a.button-collapse i {
    height: 64px;
    line-height: 64px;
  }
}

#search-input-field {
  margin-top: 8px;
  background-color: #9371d2;
}

@media only screen and (min-width: 0px) {
  #search-input-field {
    height: 40px;
  }
}

@media only screen and (min-width: 601px) {
  #search-input-field {
    height: 48px;
  }
}

@media only screen and (min-width: 0px) {
  #search-input-field .material-icons {
    margin-top: -8px;
  }
}

@media only screen and (min-width: 601px) {
  #search-input-field .material-icons {
    margin-top: -7px;
  }
}

@media only screen and (min-width: 0px) {
  #search-form {
    width: 80vw;
    left: 18vw;
  }
}

@media only screen and (min-width: 400px) {
  #search-form {
    width: 83vw;
    left: 15vw;
  }
}

@media only screen and (min-width: 480px) {
  #search-form {
    width: 85vw;
    left: 13vw;
  }
}

@media only screen and (min-width: 540px) {
  #search-form {
    width: 87vw;
    left: 11vw;
  }
}

@media only screen and (min-width: 601px) {
  #search-form {
    width: 73vw;
    left: 26vw;
  }
}

@media only screen and (min-width: 925px) {
  #search-form {
    width: 50vw;
    left: 25vw;
  }
}

#logout-form {
  display: none;
}

.dropdown-content li > a,
.dropdown-content li > span {
  color: #3D205A;
}

input:not([type]):focus:not([readonly]),
input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #3D205A;
  -webkit-box-shadow: 0 1px 0 0 #3D205A;
          box-shadow: 0 1px 0 0 #3D205A;
}

input:not([type]):focus:not([readonly]) + label,
input[type=text]:focus:not([readonly]) + label,
input[type=password]:focus:not([readonly]) + label,
input[type=email]:focus:not([readonly]) + label,
input[type=url]:focus:not([readonly]) + label,
input[type=time]:focus:not([readonly]) + label,
input[type=date]:focus:not([readonly]) + label,
input[type=datetime]:focus:not([readonly]) + label,
input[type=datetime-local]:focus:not([readonly]) + label,
input[type=tel]:focus:not([readonly]) + label,
input[type=number]:focus:not([readonly]) + label,
input[type=search]:focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #3D205A;
}

.primary-button,
.primary-button:hover,
.primary-button:focus {
  background-color: #3D205A;
}

.pagination li.active {
  background-color: #3D205A;
}

.spinner-primary-color-only {
  border-color: #3D205A;
}

.preloader {
  display: none;
}

.model {
  text-transform: uppercase;
}

input {
  border-radius: 0;
}

.modal-content h4 {
  display: inline-block;
}

.input-field .prefix.active {
  color: #3D205A;
}

.autocomplete-content li span {
  text-transform: uppercase;
}

[type="checkbox"].filled-in:checked + label:after {
  border: 2px solid #3D205A;
  background-color: #3D205A;
}

#login .login-form,
#login-message .login-form,
#register .login-form {
  padding-top: 20vh;
}

#login .login-logo,
#login-message .login-logo,
#register .login-logo {
  padding: 5vh 2vh 0vh 0vh;
}

#login .password-label,
#login-message .password-label,
#register .password-label {
  color: #3D205A;
}

#login .password-label i,
#login-message .password-label i,
#register .password-label i {
  vertical-align: middle;
}

